<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055301153105-jluge3mcdab507q8nh8tukqg35c2brul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055301153105-jluge3mcdab507q8nh8tukqg35c2brul</string>
	<key>API_KEY</key>
	<string>AIzaSyChr7m6WHJfVgL7H2ZuJNf1l7YwbUzbb5E</string>
	<key>GCM_SENDER_ID</key>
	<string>1055301153105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KiwonSong.iOS-Mongsil</string>
	<key>PROJECT_ID</key>
	<string>ios-mongsil</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-mongsil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055301153105:ios:dd8f152a11501142e0e370</string>
	<key>DATABASE_URL</key>
	<string>https://ios-mongsil-default-rtdb.firebaseio.com</string>
</dict>
</plist>